<!DOCTYPE html>
<html ng-app="todo">
<head>
  <meta charset="utf-8">
  <title>Things To Do</title>
  <link href="/libs/bootstrap.min.css" rel="stylesheet">

  <script src="/libs/angular.min.js"></script>
  <script src="/libs/angular-wakanda.min.js"></script>
  <script src="./app.js"></script>

  <style type="text/css">
    .done-true {
      color: gray;
      text-decoration: line-through;
    }
  </style>
</head>
<body ng-controller="Todo" class="well">

<h1>Things To Do</h1>

<p>
  Remaining <strong>{{remaining()}}</strong> of <strong>{{items.length}}</strong>.
  [ <a ng-click="archive()">archive</a> ]
</p>

<ul class="unstyled">
  <li ng-repeat="item in items" class="done-{{item.done}}">
    <input ng-model="item.done" ng-change="item.$update()" type="checkbox">
    {{item.text}}
  </li>
</ul>

<form>
  <input ng-model="newText" type="text">
  <button ng-click="add()" ng-disabled="!newText" class="btn btn-primary">add</button>
</form>

</body>
</html>
