<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>Angular-Wakanda Step 5 - Modify your Data</title>

  <script src="/libs/angular.min.js"></script>
  <script src="/libs/angular-wakanda.min.js"></script>
  <script src="./scripts/step5.js"></script>
</head>

<body ng-app="step5">
  <h1>Angular-Wakanda Step 5 - Modify your Data</h1>

  <section ng-controller="Controller">
    <img ng-show="employee" ng-src="{{employee.photo.src}}" style="float:right;width:80px; height:120px;">
    <p>
      {{employees.length}} employees found:
      <select ng-model="employee" ng-options="emp.fullName for emp in employees">
        <option value="">-- select an employee to change its salary --</option>
      </select>
    </p>
    <div ng-show="employee">
      <strong>Name</strong>: {{employee.fullName}}<br>
      <strong>Title</strong>: {{employee.title}}<br>
      <strong>Age</strong>: {{employee.age}}<br>
      <strong>Salary</strong>: <input ng-model="employee.salary" /><br>
      <input type="button" value="save" ng-click="employee.$save()">
    </div>
  </section>

</body>
</html>
